<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.deckofpainrep">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/main_logo"
        android:label="@string/logo_name"
        android:roundIcon="@drawable/main_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeckOfPainRep"
        tools:targetApi="31">
        <activity
            android:name="com.Dopr.deckofpainrep.SettingsActivity"
            android:exported="false" />
        <activity
            android:name="com.Dopr.deckofpainrep.SettingsSetActivity"
            android:exported="true" />
        <activity
            android:name="com.Dopr.deckofpainrep.CardActivity"
            android:exported="false" />
        <activity
            android:name="com.Dopr.deckofpainrep.HowActivity"
            android:exported="false" />
        <activity
            android:name="com.Dopr.deckofpainrep.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8765826216210017~3783156432" />
    </application>

</manifest>